<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>猫咪领养平台</title>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/axios.js"></script>
    <script src="../../static/components/topSide.js"></script>
    <link rel="stylesheet" href="../../static/css/topSide.css">
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
    <script src="../static/js/index.js"></script>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        body {
            font-family: "Microsoft Yahei";
        }
    </style>
</head>
<body>
<div id="indexContent" style="height: 100%" v-cloak>
    <top-side>
        <div>
            <h1 style="text-align: center">领养猫咪</h1>
            <el-table
                    :data="tableData"
                    style="width: 100%" stripe>
                <el-table-column label="文章标题" prop="articleTitle" width="220"></el-table-column>
                <el-table-column label="省份" prop="provinceName.provinceName" width="80"></el-table-column>
                <el-table-column label="猫猫性别" prop="catSex" width="100"></el-table-column>
                <el-table-column label="发布人" prop="user.username" width="140"></el-table-column>
                <el-table-column label="评论数" prop="articleCommentCount" width="80"></el-table-column>
                <el-table-column label="发布时间" prop="articleDate"></el-table-column>
                <el-table-column label="猫咪图片">
                    <template width="90" slot-scope="scope">
                        <img style="width:80px;height:80px;border:none;" :src="scope.row.catImage">
                    </template>
                </el-table-column>
                <el-table-column
                        align="right">
                    <template slot="header" slot-scope="scope">
                        <el-button type="primary" round size="mini" @click="getAll()">查询所有</el-button>
                        <el-select v-model="condition" placeholder="搜索条件" style="width: 30px;margin-right: 20px">
                            <el-option
                                    v-for="(item,index) in options"
                                    :key="index"
                                    :label="item"
                                    :value="item"
                            >
                            </el-option>
                        </el-select>
                        <el-input
                                v-model="search"
                                size="mini"
                                :placeholder="condition" @keyup.enter.native='searchAll()'></el-input>
                    </template>
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">查看详情
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination
                        background
                        layout="total, prev, pager, next"
                        :current-page="query.pageIndex"
                        :page-size="query.pageSize"
                        :total="dataLength"
                        @current-change="handleCurrentChange"
                ></el-pagination>
            </div>
        </div>
    </top-side>
</div>

</body>
<script type="text/javascript">
    var doSearch = async function (url, currentPage, pageSize) {
        return await axios.get(url, {
            params: {
                param: indexContent.search,
                currentPage: currentPage,
                pageSize: pageSize,
            }
        }).then(result => {
            indexContent.tableData = result.data.list;
            indexContent.dataLength = result.data.total;
        })
    }
    var indexContent = new Vue({
        el: '#indexContent',
        data: {
            provinces: JSON.parse(sessionStorage.getItem("provinces")),
            province: '',
            tableData: [],
            allData: [],
            search: '',
            dataLength: 0,
            condition: '',
            mode: '',
            query: {
                pageIndex: 1,
                pageSize: 5,
            },
            options: [
                '根据标题',
                '根据省份',
            ],
        },
        methods: {
            handleEdit(index, row) {
                const info = JSON.stringify(row)
                sessionStorage.setItem("info", info)
                window.location.href = "/l1/toShow"
            },
            async getData(currentPage, pageSize) {
                await axios.get('/l1/findPeopleAll', {
                    params: {
                        currentPage: currentPage,
                        pageSize: pageSize,
                    }
                }).then(result => {
                    this.tableData = result.data.list;
                    this.dataLength = result.data.total;
                })
            },
            async handleCurrentChange(value) {
                this.query.pageIndex = value;//获得当前页码
                let mode = this.mode;
                if (mode === '') {
                    await this.getData(this.query.pageIndex, this.query.pageSize);
                } else if (mode === '根据标题') {
                    await doSearch('/l1/findPeopleAllByTitle', this.query.pageIndex, this.query.pageSize)
                } else if (mode === '根据省份') {
                    await doSearch('/l1/findPeopleAllByProvince', this.query.pageIndex, this.query.pageSize)
                } else {
                    this.$message({
                        message: '错误',
                        type: 'warning'
                    });
                }
            },
            getAll() {
                this.getData(1, 5);
                this.mode = '';
                return true;
            },
            searchAll() {
                let temp = this.condition;
                if (temp === '') {
                    this.$message({
                        message: '搜索条件不能为空哦',
                        type: 'warning'
                    });
                    return false;
                } else if (temp === '根据标题') {
                    this.query.pageIndex = 1;
                    doSearch('/l1/findPeopleAllByTitle', this.query.pageIndex, this.query.pageSize)
                    this.mode = '根据标题';
                } else if (temp === '根据省份') {
                    this.query.pageIndex = 1;
                    doSearch('/l1/findPeopleAllByProvince', this.query.pageIndex, this.query.pageSize)
                    this.mode = '根据省份';
                } else {
                    this.$message({
                        message: '没有这个选项',
                        type: 'error'
                    });
                }
            }
        },
        mounted() {
            this.getData(this.query.pageIndex, this.query.pageSize)
        },
    })
</script>
</html>